@font-face {
  font-family: 'Druk Wide Cyr Bold';
  font-weight: normal;
  src: url("../fonts/DrukWideCyr-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Druk Wide Cyr Bold Italic';
  font-weight: normal;
  src: url("../fonts/DrukWideCyr-Bold-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Druk Wide Cyr Super Italic';
  font-weight: normal;
  src: url("../fonts/DrukWideCyrSuperItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'Druk Text Wide Cyr Heavy Italic';
  font-weight: normal;
  src: url("../fonts/DrukTextWideCyr-Heavy-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Druk Wide Cyr Medium';
  font-weight: normal;
  src: url("../fonts/DrukWideCyr-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Druk Text Wide Cyr Medium';
  font-weight: normal;
  src: url("../fonts/DrukTextWideCyr-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Druk Text Wide Cyr Medium Italic';
  font-weight: normal;
  src: url("../fonts/DrukTextWideCyr-Medium-Italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 300;
  src: url("../fonts/AkzidenzGroteskPro-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  src: url("../fonts/AkzidenzGroteskPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 500;
  src: url("../fonts/AkzidenzGroteskPro-Md.woff2") format("woff2");
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 900;
  src: url("../fonts/AkzidenzGroteskPro-SuperItalic.woff2") format("woff2");
}