.pushy-open-left > .pushy{
  box-shadow: 0 4px 215px 2px rgba(161, 0, 255, 0.5);
}

.pushy{
  z-index: 999;
  background: #000000;
  font-style: normal;
  width: 100%;
  max-width: 415px;
  height: 100%;
  font-weight: normal;
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;

  @media (max-width: 480px) {
    font-size: 30px;
    line-height: 30px;
    max-width: 100%;

  }

  .menu-btn {
    transition: opacity .2s ease;
    position: absolute;
    top: 35px;
    z-index: 999;
    height: 19px;
    width: 19px;
    right: 40px;
    opacity: .6;
    padding: 0;

    &:hover{
      opacity: 1;
    }
  }

  .pushy-content {
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  ul{
    li{
      text-align: right;

      + li {
        margin-top: 35px;
      }
    }
  }

  a{
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
}

.pushy-left{
  transform: translate3d(-100%,0,0); /* Updated the values */
  /* Don't forget the vendor prefixes */
}

.pushy-open-left #container,
.pushy-open-left .push {
  transform: translate3d(100%, 0, 0); /* Updated the values */
}

.pushy-right {
  transform: translate3d(100%, 0, 0); /* Updated the values */
  /* Don't forget the vendor prefixes */
}

.pushy-open-right #container,
.pushy-open-right .push {
  transform: translate3d(-100%, 0, 0); /* Updated the values */
  /* Don't forget the vendor prefixes */
}

.pushy-open-left .site-overlay, .pushy-open-right .site-overlay{
  background: transparent;
  z-index: 998;
}




