$druk-wide-medium: 'Druk Wide Cyr Medium', sans-serif;
$druk-text-wide-medium: 'Druk Text Wide Cyr Medium', sans-serif;
$druk-wide-bold: 'Druk Wide Cyr Bold', sans-serif;
$druk-wide-bold-italic: 'Druk Wide Cyr Bold Italic', sans-serif;
$druk-wide-super-italic: 'Druk Wide Cyr Super Italic', sans-serif;
$druk-text-wide-heavy-italic: 'Druk Text Wide Cyr Heavy Italic', sans-serif;
$druk-text-wide-medium-italic: 'Druk Text Wide Cyr Medium Italic', sans-serif;
$akzidenz: 'Akzidenz-Grotesk Pro', sans-serif;

$light-green: #CEFF00;